* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
}

body {
    background-color: #ebebda;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 50px;
}

header img {
    height: 70px;
    margin-right: 16px;

}

.container form {
    display: flex; /* Ou display: block */
    gap: 10px; /* Para dar espaçamento entre os elementos do formulário */
    margin-bottom: 20px; /* Espaço entre o formulário e a tabela */
    align-items: center; /* Alinha os itens verticalmente */
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}


form input {
    padding: 8px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 4px;
    flex-grow: 1; /* Faz os inputs ocuparem o espaço disponível */
    font-size: 24px;
}

form button {
    padding: 8px 15px;
    background-color: #07927b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

li {
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex; /* Para alinhar o texto e o 'X' na mesma linha */
    justify-content: space-between; /* Para empurrar o 'X' para a direita */
    cursor: pointer; /* Indica que o item pode ser clicado para marcar/desmarcar */
}

li span:first-child { /* Estiliza o texto da tarefa */
    flex-grow: 1; /* Faz o texto ocupar o máximo de espaço possível */
}

.excluir-tarefa {
    color: #ff0000; /* Cor vermelha para o 'X' */
    font-weight: bold;
    margin-left: 10px; /* Espaçamento à esquerda do 'X' */
    cursor: pointer; /* Indica que o 'X' é clicável */
    padding: 3px; /* Para facilitar o clique */
    border-radius: 6px; /* Bordas arredondadas */
    transition: background-color 0.2s ease; /* Transição suave para o hover */
}

.excluir-tarefa:hover {
    background-color: rgba(255, 0, 0, 0.1); /* Fundo levemente vermelho ao passar o mouse */
}

.tarefa-concluida .texto-tarefa {
    text-decoration: line-through; /* Aplica o risco APENAS ao texto da tarefa */
    opacity: 0.5; /* Aplica a opacidade APENAS ao texto da tarefa */
}

/* Estilização para o ícone de cheque */
.checkbox-icon {
    font-size: 25px; /* Tamanho do ícone */
    margin-right: 10px; /* Espaço entre o ícone e o texto da tarefa */
    color: #645f5f; /* Cor padrão para o ícone não marcado */
    cursor: pointer; /* Indica que o ícone é clicável */
    transition: color 0.2s ease; /* Transição suave para a mudança de cor */
}

.texto-tarefa {
    flex-grow: 1; /* Faz o texto ocupar o máximo de espaço possível */
    cursor: pointer;
}

.tarefa-concluida .checkbox-icon {
    color: #07927b;
}
